<script type="text/ng-template" id="StateMachineConditionHasPermission.html">
  <a class="__link" left-click-menu data-target="notMenu">{{element1.notHas | boolToValue:'Has no':'Has'}}</a> permission
  <ul class="menu __context" role="menu" id="notMenu">
    <li class="menu-item" ng-click='element1.notHas=false;'>Has</li>
    <li class="menu-item" ng-click='element1.notHas=true;'>Has no</li>
  </ul>
  <div class="form-input">
    <ui-select multiple ng-model="element1.permissions" ng-controller="virtoCommerce.stateMachineModule.permissionConditionController">
      <ui-select-match placeholder="Select...">{{$item|json}}</ui-select-match>
      <ui-select-choices repeat="x in permissions | filter: $select.search">
        <span ng-bind-html="x | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</script>

<script type="text/ng-template" id="StateMachineConditionHasAccountType.html">
  User <a class="__link" left-click-menu data-target="notMenu">{{element1.notHas | boolToValue:'has no':'has'}}</a> account type
  <ul class="menu __context" role="menu" id="notMenu">
    <li class="menu-item" ng-click='element1.notHas=false;'>has</li>
    <li class="menu-item" ng-click='element1.notHas=true;'>has no</li>
  </ul>
  <div class="form-input">
    <ui-select ng-model="element1.accountType" ng-controller="virtoCommerce.stateMachineModule.accoutTypeConditionController">
      <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="x in accountTypes | filter: $select.search">
        <span ng-bind-html="x | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</script>
