<div id="visualEditorBlade" class="blade-content __large-wide" ng-controller="virtoCommerce.stateMachineModule.stateMachineVisualEditorController">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="visualEditorForm">
                <div class="form-group" ng-init="setForm(visualEditorForm)">
                    <div id="visualEditorWorkspace" class="visual-editor-workspace"
                         oncontextmenu="return false;" style="width: 100%; position: absolute; inset: 0px; overflow: auto;">
                        <state-transitions
                            transitions="blade.machineData.transitions"
                            machine-data="blade.machineData"
                            parent-scope="blade.scope">
                        </state-transitions>

                        <state-node ng-repeat="state in blade.machineData.states"
                            state="state"
                            machine-data="blade.machineData"
                            parent-scope="blade.scope">
                        </state-node>
                    </div>
                    <div id="jsonEditorContainer"
                        style="position:absolute; top:0px; left:0px; bottom:0px; right:0px; padding:10px; display:none;">
                        <textarea id="jsonEditor"
                            style="width: 100%; height: 100%; padding: 10px; font-family: monospace; font-size: 14px; border:1px solid #ccc; border-radius:4px; resize:none;">
                        </textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <modal-form ng-if="blade.scope.modalData"
        form-title="blade.scope.modalData.title"
        is-array="blade.scope.modalData.isArray"
        entity="blade.scope.modalData.entity"
        fields="blade.scope.modalData.fields"
        ok-action="blade.scope.modalData.okAction"
        cancel-action="blade.scope.modalData.cancelAction">
    </modal-form>
    <context-menu ng-if="blade.scope.contextMenuData"
        items="blade.scope.contextMenuData.items"
        x="blade.scope.contextMenuData.x"
        y="blade.scope.contextMenuData.y">
  </context-menu>

</div>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
