<div class="state-node"
     id="state{{$ctrl.state.id}}"
     ng-style="{'left': $ctrl.state.position.x + 'px', 'top': $ctrl.state.position.y + 'px'}"
     ng-mouseenter="$ctrl.onStateHover($ctrl.state, true)"
     ng-mouseleave="$ctrl.onStateHover($ctrl.state, false)"
     ng-right-click="$ctrl.showStateContextMenu($event, $ctrl.state)">
  <div class="state-header"
       ng-class="{'is-success': $ctrl.state.isSuccess, 'is-failed': $ctrl.state.isFailed}"
       ng-mousedown="$ctrl.startDrag($event, $ctrl.state)"
       ng-dblclick="$ctrl.editState($event, $ctrl.state)">
    <span class="state-name">{{$ctrl.state.name}}</span>
  </div>
  <div class="state-description"
       ng-mousedown="$ctrl.startDrag($event, $ctrl.state)"
       ng-dblclick="$ctrl.editState($event, $ctrl.state)">
    <div class="state-description-text">{{$ctrl.state.description || '(No description)'}}</div>
  </div>
  <div class="state-node-attributes" ng-if="$ctrl.state.isFinal">
    <three-position-toggle toggle-id="{{$ctrl.state.id}}-toggle"
                           left-label="Success"
                           right-label="Fail"
                           ng-model="$ctrl.state.togglePosition"
                           on-change="$ctrl.onStateToggleChange($ctrl.state, $position)">
    </three-position-toggle>
  </div>
  <div class="state-node-connector"
       ng-mouseenter="connector.style.background = '#424242'"
       ng-mouseleave="connector.style.background = '#757575'"
       ng-mousedown="$ctrl.startTransition($event, $ctrl.state)">
  </div>
</div>
